doctype
html
    | {% include head.html %}
    body.ajax-loading
      | {% include header.html %}
      .page
        .page__content
          section.intro
            .wrap
              p
              | {{ content | markdownify }}
